/* msg_style.css */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('test.jpg'); /* Add your background image URL here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message-form {
    background-color: rgba(255, 255, 255, 0.8); /* Add opacity to the form background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.message-form h1 {
    text-align: center;
    color: #007bff;
}

.message-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

.message-form textarea {
    width: 350px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.message-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.message-form button:hover {
    background-color: #0056b3;
}

