* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(test.jpg);
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  background-color: #006400;
  color: #fff;
  border: none;
  padding: 16px 32px;
  margin: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn i {
  margin-right: 10px;
}